name: Backend CI/CD Pipeline

on:
  push:
    branches: [ main ]

jobs:
  deploy:
    runs-on: ubuntu-latest

    steps:

    - name: Checkout code
      uses: actions/checkout@v4

    - name: Login to Docker Hub
      run: echo "${{ secrets.DOCKERHUB_TOKEN }}" | docker login -u "${{ secrets.DOCKERHUB_USERNAME }}" --password-stdin

    - name: Build Docker image
      run: docker build -t ${{ secrets.DOCKERHUB_USERNAME }}/project-backend:latest .

    - name: Push Docker image
      run: docker push ${{ secrets.DOCKERHUB_USERNAME }}/project-backend:latest

    - name: Deploy to EC2
      uses: appleboy/ssh-action@v1.0.3
      with:
        host: ${{ secrets.EC2_HOST }}
        username: ${{ secrets.EC2_USERNAME }}
        key: ${{ secrets.EC2_SSH_KEY }}
        script: |
          docker pull ${{ secrets.DOCKERHUB_USERNAME }}/project-backend:latest
          docker stop backend || true
          docker rm backend || true
          docker run -d \
            --name backend \
            --network sahyadri-network \
            -p 5000:5000 \
            -e MONGO_URI="mongodb://mongodb:27017/hostelops" \
            -e JWT_SECRET="mysupersecret" \
            --restart unless-stopped \
            ${{ secrets.DOCKERHUB_USERNAME }}/project-backend:latest
